/* General */

body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

/* Landing Container */

.landingcontainer{
    height: 100vh;
    width: 100vw;
}

/* Nav Bar */

#navcontainer {
    align-content: center;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    border-bottom: 1px solid #e6a723;
    z-index: 2;
}

.navbar{
    padding: 0;
    font-weight: 700;
    background-color: #fff;
    
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
    border: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #000;
    border: 2px solid #e6a723;
    transition: .25s ease-in-out;
}

.logo {
    max-height: 70px ;
    background-size: contain;
}
/* Home */

#landing {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: url('../images/manchester_quays.jpg') no-repeat center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: block;
    z-index: 1;
    color: #fff;
}

.opaque-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.welcomecontainer {
    margin-top: 20vh;
}

#welcome {
    font-size: 4em;
}

#tagline {
    font-size: 3em;
}

.allfeatures{
    padding-top: 10vh;
    font-size: 2em;
    text-align: center;
    align-items: center;
}

.feature{
    border: 2px solid #e6a723;
    margin: 0.5em 1em 0em 1em;
    justify-content: center;
    align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.feature:hover{
    background-color: rgba(230, 167, 35, 0.8);
    transition: .25s ease-in-out;
}

/* footer */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: rgba(230, 167, 35, 0.8);
    z-index: 1;
}

.socialicon {
    font-size: 2.5em;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 0.25em;
    text-align: center;
}

.socialicon a i {
    color: #fff; 
}

.socialicon a i:hover{
    color: #000;
    transition: .25s ease-in-out;
}

/* Activities, Food & Drink, Accomodation */

.featureheading{
    font-size: 3em;
    font-weight: 700;
    padding-top: 100px;
    margin-bottom: 20px;
}

.location {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 0;
}

.locationimage {
    height: 275px;
    width: 300px;
    min-width: 300px;;
    object-fit: cover;
    cursor: pointer;
}

.locationname{
    position: absolute;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    width: 300px;
    background-color: rgba(230, 167, 35, 0.8);
}

#locationdetails{
    height: 100vh;
    width: 100vw;
}

#map {
    height: 50vh;
    width: 65vw;
}
