/* General */

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'helvetica', 'roboto',  sans-serif;
    text-align: center;

}

.container-fluid{
overflow: hidden;
}

/* Nav Bar */

#navcontainer {
    align-content: center;
    top: 0;
    left: 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(240, 240, 240, 0.8);
}

/* Home */

#home {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: url('../images/manchester_quays.jpg') no-repeat center fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
     color: #ffffff
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.welcomecontainer {
    margin-top: 20vh;
}

#welcome {
    font-size: 4em;
}

#tagline {
    font-size: 3em;
}

.features{
    padding-top: 10vh;
}

.activityfeature, .fooddrinkfeature, .accomodationfeature{
    padding-top: 3vh;
}
}